h1 {
    color: blue;
    font-size: 28px;
    background-color: teal;
    padding: 10px;
}

h2 {
    border: 2px solid orange
}

h3 {
    border: 5px dotted forestgreen;
    padding: 20px;
}

p {
    font-size: 16px;
    background-color: blue;
    color: white;
    padding: 20px;
}