.first-outline {
    outline: 2px solid blue;
    padding: 10px;
    margin: 10px;
}

.second-outline {
    outline: 3px dashed green;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.no-focus-outline {
    outline: none;
    border: 2px solid grey;
    padding: 10px;
    margin: 10px;
}